:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    
}


#main {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    max-width: 1440px;
}

.section-pink {
    box-sizing: border-box;
    width: 18em;
    background-color: var(--bright-orange);
    height: 29em;
    border-radius: 0.5em 0em 0em 0.5em;
}

.section-lightgreen {
    box-sizing: border-box;
    width: 18em;
    background-color: var(--dark-cyan);
    height: 29em;
}

.section-darkgreen {
    box-sizing: border-box;
    width: 18em;
    background-color: var(--very-dark-cyan);
    height: 29em;
    border-radius: 0em 0.5em 0.5em 0em;
}

svg {
    margin: 2.8em 9em 2.6em 2.7em;
    transform: scale(0.95);
}

div {
    margin: 0em 27em 2.3em 2.8em;
    color: var(--very-light-gray);
    transform: scale(2.3);
    font-family: 'Big Shoulders Display', cursive;
}

p {
    margin:  0em 3.8em 3em 3.2em;
    color: var(--transparent-white);
    font-size: 0.86em;
    opacity: 0.7;
    line-height: 1.7;
}

.button-pink {
    margin: 2em 4em 3em 1.8em;
    background-color: var(--bright-orange);
    color: var(--very-light-gray);
    border: 0.15em solid var(--very-light-gray);
    transform: scale(0.84);
    padding: 1em 2.2em 1em 2.2em;
    border-radius: 2em;
    position: absolute;
}

.button-lightgreen{
    margin: 2em 4em 3em 1.8em;
    background-color: var(--dark-cyan);
    color: var(--very-light-gray);
    border: 0.15em solid var(--very-light-gray);
    transform: scale(0.84);
    padding: 1em 2.2em 1em 2.2em;
    border-radius: 2em;
    position: absolute;
}

.button-darkgreen{
    margin: 2em 4em 3em 1.8em;
    background-color: var(--very-dark-cyan);
    color: var(--very-light-gray);
    border: 0.15em solid var(--very-light-gray);
    transform: scale(0.84);
    padding: 1em 2.2em 1em 2.2em;
    border-radius: 2em;
    z-index: 0;
    position: absolute;
}   

.fas {
    color:white;
    font-size: 0.7em;
    margin: 6.5em 1em 1em 13em;
    position: absolute;
    z-index: 1;
}



@media screen and (max-width: 700px) {
    #main {
        flex-direction: column;
    }
    .section-pink {
        padding: 50em 0em 30em 0em;
        border-radius: 0em;
    }

    .section-lightgreen{
        padding: 0em 0em 30em 0em;
    }

    .section-darkgreen{
        padding: 0em 0em 30em 0em;
        border-radius: 0em;
    }

} 

